@import "tailwindcss";

@theme {
  --font-display: "Noto Sans Lao";
  --my-color: #05718c;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html,
  body {
    @apply bg-gray-50 text-gray-800 dark:bg-gray-950 dark:text-gray-100;
    font-family: "Noto Sans Lao", sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
}

@layer utilities {
  .font-display {
    font-family: var(--font-display);
  }
}
